body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.section-sep{
    display: flex;
    flex-direction: row;
}
h1{
    font-size: 50px;
}
span{
    color: orange;
}
.half-width{
    width: 50%;
    padding: 3%;
}
.half-width img{
    width: 80%;
}
#top-sec{
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
}
#middle-sec{
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
a{
    padding: 10px 40px;
    background-image: radial-gradient(rgb(206, 134, 0), rgb(230, 140, 125));
    font-weight: 800;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}